input, textarea
	background-color rgba(17, 17, 17, 0.45)
	border none
	color inherit
	box-sizing border-box
	padding 0.3em 0.6em
	font-family inherit

textarea
	width 100%
	min-height 6em

legend
	font-size 1.2em
	font-weight bold

.primary-button
	transition 0.2s ease background-color
	background-color #8bc34a82
	text-decoration none
	font-weight bold
	text-shadow 0 0.01em #000

.primary-button
	&:hover
		background-color #495d337d
