:root
	--form-padding-vertical 0.3em
	--form-padding-horizontal 0
input, textarea
	width 100%
	background-color transparent
	outline none
	font-size inherit
	transition 0.2s ease background-color, 0.2s ease border-color, 0.1s ease border-bottom-width
	border none
	border-bottom 0.1em solid transparent
	color inherit
	box-sizing border-box
	padding var(--form-padding-vertical) var(--form-padding-horizontal)
	font-family inherit
	font-weight inherit
	text-align inherit
	&:hover
		border-bottom-color rgba(255, 255, 255, 0.6)
	&:focus
		border-bottom-width 0.15em
		border-bottom-color currentColor
form
	p
		& + *
			margin-top 1em
textarea
	width 100%

legend
	font-size 1.4em
	font-weight bold
	margin-bottom 1em
.primary-button
	transition 0.2s ease background-color
	background-color #8bc34a82
	text-decoration none
	font-weight bold
	text-shadow 0 0.01em #000

.primary-button
	&:hover
		background-color #495d337d
.form-actions
	display flex
	justify-content space-between
.close-button
	&, &:hover
		background-color transparent
	padding 0
.form-group
	padding 1em
	& + &
		margin-top 1.5em
.settings-form
	background-color #3c3c3c69
