$breakpointDesktop ?= 55em

:root
	--sidebar-width 20.5em
	--box-spacing calc(1.5em + 1.5%)
	--body-text-colour #fff
	--body-background-colour #1f4037
	--body-background-primary-colour #426f65
	--body-background-offset-colour #41695e
	--body-background-gradient-direction to right
	--body-font-family "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif

$baseElementStyles
	h1
		font-size 2.3em
	h2
		font-size 1.8em
	h3
		font-size 1.5em
	h4
		font-size 1.2em
	h6
		font-size 1.1em
	i, em
		font-style italic
	strong
		font-weight bold
	hr
		border-bottom 0.4em dashed
		display block
		margin 2em auto
		border-top 0
		max-width 35%
		min-width 6em
		opacity 0.6
	code
		font-family "Source Code Pro", Consolas, monospace
	ul, ol
		padding 1em 2em
		box-sizing border-box
	ul
		list-style-type disc
	ol
		list-style-type decimal
	* + *
		margin-top 1em
	blockquote
		padding 1em 1.5em
		box-sizing border-box
		color inherit
		border-left 0.3em solid currentColor
		opacity 0.9
		font-style italic
body
	margin 0
	padding 0
.theme-container
	overflow-y auto
	font-family var(--body-font-family)
	background var(--body-background-colour)
	background linear-gradient(var(--body-background-gradient-direction), var(--body-background-primary-colour), var(--body-background-offset-colour))
	color var(--body-text-colour)

.theme-container
	height inherit
	display flex
	flex-direction column

html, body
	height 100%

.grid
	display flex
	height inherit

.events
	white-space nowrap
	overflow-x auto
	padding-bottom 2em
	box-sizing border-box

.event-container
	display inline-block
	vertical-align middle

.link-actions
	display inline-block
	vertical-align initial
	transition 0.3s ease opacity
	opacity 0.7
	&:hover
		opacity 1
	.link-action button
		padding 0
		border-radius 0
		background-color transparent

a
	color inherit
	&:visited
		color #ffd2d2

.visuallyhidden, dl dt
	clip rect(0 0 0 0)
	clip-path inset(50%)
	height 1px
	overflow hidden
	position absolute
	white-space nowrap
	width 1px

header[role="banner"]
	display flex
	align-items center
	box-sizing border-box
	justify-content space-between
	padding 1em

main[role="main"]
	height inherit
	flex 1
.padded
	padding var(--box-spacing)
	box-sizing border-box
.nav-item
	display inline-block
.nav-item-link
	display block
	padding 0.5em 1em
	box-sizing border-box

.story-list
	& + .story-editor-container
		background-color rgb(56 56 56)
		flex 1
		margin-left calc(var(--sidebar-width) / -2)

.overlayed
	box-shadow 0 2.8px 2.3px rgba(0, 0, 0, 0.02),
	0 6.7px 5.5px rgba(0, 0, 0, 0.028),
	0 12.5px 10.4px rgba(0, 0, 0, 0.035),
	0 22.3px 18.5px rgba(0, 0, 0, 0.042),
	0 41.8px 34.7px rgba(0, 0, 0, 0.05),
	0 100px 83px rgba(0, 0, 0, 0.07)

nav[role="navigation"]
	display flex
	justify-content space-between
svg
	fill currentColor
	vertical-align middle
	display inline-block
	width auto
	height 100%
.rotate-90
	transform rotate(90deg)
.add-after
	height 3em
.character-list-container
	padding var(--box-spacing) 0
	box-sizing border-box
.character-editor
	flex 1
.character
	display flex
	justify-content space-between
	&-link
		box-sizing border-box
		padding 1em 2em
		display block
@import "_forms"
@import "components/*"
