.story-action {
	display: inline-block;
	box-sizing: border-box;
	margin: 0 var(--story-list-item-padding-horizontal);
}

.story {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.story-meta {
	flex: 1;
}

.story-list {
	--story-list-background: #00000052;
	--story-list-item-padding-horizontal: 1.5em;
	--story-list-item-padding-vertical: 1em;
	--story-list-item-padding: var(--story-list-item-padding-vertical) var(--story-list-item-padding-horizontal);
	background: var(--story-list-background);
	min-width: var(--sidebar-width);
}

.story-meta dd {
	line-height: 1.5;
}

.story-link {
	padding: 1em 1.5em;
	box-sizing: border-box;
	display: block;
	font-weight: bold;
}

.story-link:global(.active) {
	background-color: #1f4037;
}
