<form class="story-preview">
	{{#if this.hasText}}
		{{#each this.sortedEvents as |event|}}
			<fieldset class="story-preview-section">
				<EventPreview @event={{event}}/>
			</fieldset>
		{{/each}}
	{{/if}}
	{{yield}}
</form>
