:root
	--content-editor-padding 1em
	--content-editor-font-size 1em
	--content-editor-line-height 1.5
	--content-editor-toolbar-padding 0.5em 1em
	--content-editor-toolbar-background-colour #2b2b2b
	--content-editor-background-colour rgba(43, 43, 43, 0.09)
.form-field.focused
	.mobiledoc-toolbar__container
		opacity 1
		margin 0
.form-field.focused
	.mobiledoc-editor__editor
		border-color #00000024
		background-color var(--content-editor-background-colour)
.mobiledoc-editor__editor
	line-height var(--content-editor-line-height)
	color inherit
	margin 0
	padding var(--content-editor-padding)
	box-sizing border-box
	border 1px solid transparent
	transition 0.4s ease background-color, 0.2s ease border-color
	@extend $baseElementStyles
.mobiledoc-toolbar
	&.heading-buttons
		flex 1
		margin 0 2em
	&__control
		display inline-block
		vertical-align middle
		button
			padding 0
			border-radius 0
			background-color transparent
			cursor pointer
			&:hover, &.active
				background-color rgba(255, 255, 255, 0.17)
		abbr
			font-size 1.3em
			text-decoration none
	&__container
		display flex
		transition 0.3s ease opacity, 0.3s ease margin
		margin -1.5em 0
		justify-content space-between
		align-items center
		padding 0.5em 1em
		box-sizing border-box
		background-color var(--content-editor-toolbar-background-colour)
		opacity 0
.__mobiledoc-editor.__has-no-content:after
	top 1em
.mobiledoc-editor
	display flex
	flex-direction column-reverse
	&__link-prompt
		background-color #464646
		color inherit
		padding 2em 1em 1em 1em
		box-sizing border-box
		border 0.1em solid rgba(0, 0, 0, 0.46)
		.form-control
			min-width 20em
			border-bottom-color initial
.__mobiledoc-card
	display block
button
	background-color #6978ff
	transition 0.2s ease background-color
	color #fff
	font-weight bold
	border 0
	padding 0.5em 1em
	box-sizing border-box
	border-radius 0.5em
	cursor pointer
	&:hover, &.active
		background-color #2f3772
