.form-field
	position relative
	margin 1rem 0
	transition 0.5s ease-out opacity, 0.2s ease filter
	&.unsaved
		opacity 0.8
		filter grayscale(1)
	&:hover:not(.focused)
		.edit-overlay
			opacity 1
	.edit-overlay
		transition 0.2s ease opacity, 0.2s ease transform
		transform-origin right
		height 0
		opacity 0
		transform translateY(calc(150% + var(--form-padding-vertical)))
		display inline-block
	&.focused
		.form-field-label
			line-height 1
			transform translateY(0)
	&.has-value
		> .form-field-label
			opacity 0
	&.focused.has-value
		> .form-field-label
			opacity initial
	&-label
		opacity 0.8
		line-height 0
		transition 0.2s ease opacity, 0.2s ease transform, 0.2s ease line-height
		display block
		transform translateY(calc(100% + var(--form-padding-vertical) * 3.5)) translateX(var(--form-padding-horizontal)) scale(0.8)
		transform-origin left
	&-control
		display block
	& + .form-field
		margin-top 1em
	&-label + &-control
		margin-top 1em
