.form-field
	&.focused
		.form-field-label
			transform translateY(-0.5em)
	&.has-value
		.form-field-label
			opacity 0
	&.focused.has-value
		.form-field-label
			opacity 1
	&-label
		transition 0.2s ease opacity, 0.2s ease transform
		display block
		transform translateY(calc(100% + var(--form-padding-vertical))) translateX(var(--form-padding-horizontal))
	&-control
		display block
	& + .form-field
		margin-top 1em
	&-label + &-control
		margin-top 1em
