:root
	--node-background-colour rgba(13, 109, 98, 0.61)
	--node-padding 1em
.node
	&-editor
		position relative
		&:hover
			.contextual-action
				opacity 1
	&-summary
		margin 0 -1em
	&:hover
		opacity 1


.node[draggable]
	cursor move
	opacity 0.9
	transition transform 0.4s ease, opacity 0.2s ease
.contextual-action
	transition 0.3s ease opacity
	position absolute
	z-index 1
	bottom 0
	right 0
	opacity 0
.event
	&-container
		& + &
			margin-left 1.5em
			position relative
			&::before
				content "➡"
				position absolute
				right calc(100% + 1em)
				top 50%
	.node-editor
		background-color var(--node-background-colour)
		padding var(--node-padding)
		box-sizing border-box
	&-meta-duration
		text-align center
		display block
		border-bottom 0.4em dotted
		margin 1em 0
		padding 0.8em
		opacity 0.8
		font-size 0.85em
