:root
	--node-background-colour rgba(13, 109, 98, 0.61)
	--node-padding 1em
	--event-node-subsequent-margin 3em
.node
	&-editor
		position relative
		&:hover
			.contextual-actions
				opacity 1
	&-summary
		margin 0 -1em
	&:hover
		opacity 1
.nested-timeline .timeline-edit-form .node-summary
	margin 0
.contextual-actions
	transition 0.3s ease opacity
	position absolute
	z-index 1
	bottom 0
	right 0
	opacity 0
	padding var(--node-padding)
	button
		border 0
		border-radius 0
		background-color transparent
.contextual-action
	display inline-block
.event
	display inline-block
	vertical-align inherit
	white-space initial
	max-width 28em
	&-container
		& + &
			margin-left var(--event-node-subsequent-margin)
			position relative
			&::before
				content ""
				position absolute
				right 100%
				top 50%
				width calc(var(--event-node-subsequent-margin) + 0.2em)
				border-bottom 0.3em dotted
	.node-editor
		background-color var(--node-background-colour)
		padding var(--node-padding)
		box-sizing border-box
	&-meta-duration
		text-align center
		display block
		border-bottom 0.4em dotted
		margin 1em 0
		padding 0.8em
		opacity 0.8
		font-size 0.85em
