.story-editor-container
	flex 1

.story-editor
	padding var(--header-vertical-padding) var(--box-spacing)
	background-color var(--header-background-colour)
	.node-title
		font-size var(--header-font-size)
		.form-control
			font-weight bold
