.story-editor-container
	flex 1
	& > *
		padding var(--box-spacing)
		box-sizing border-box

.story-editor
	padding 2em var(--box-spacing)
	background-color #3f51b547
	.node-title
		font-size 2em
		.form-control
			font-weight bold
