.action
	display inline-block
.timeline-container
	background #616161ad
	padding 1em var(--box-spacing)
	box-sizing border-box
.timeline-edit-form
	.node-title .form-control
		font-size 1.5em
		font-weight bold
