.action
	display inline-block
.timeline-container
	background var(--timeline-background-colour)
	padding 1em var(--box-spacing)
	box-sizing border-box
.timeline-edit-form
	> .contextual-actions
		top 0
	.node-title .form-control
		font-size 1.5em
		font-weight bold
.nested-timeline
	.events
		padding-bottom initial
		overflow-x initial
.link-action
	& + &
		margin-top 0.5em
		.fork-event
			padding 0.5em
.event-container
	&[draggable]
		cursor move
		transition 0.3s ease opacity, 0.3s ease transform
		opacity 1
	&.dragging
		opacity 0.4
		transform scale(0.8) rotate(3deg)
	&.drop-candidate
		opacity 0.5
		transform translateX(15%)
